name: CI

on:
  pull_request:
  push:
    branches: [master]

env:
  RUST_BACKTRACE: 1
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Cdebuginfo=0 --deny=warnings"
  RUSTDOCFLAGS: "--deny=warnings"

jobs:
  fmt:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: stable
          components: rustfmt
      - name: Check Formatting
        run: cargo fmt --all -- --check

  tests:
    name: Tests
    # `raw-window-handle` only has `cfg` guards for Android, so we just run Ubuntu
    # and manually test Android
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust_version: ["1.64", stable, nightly]

    steps:
      - uses: actions/checkout@v2

      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: ${{ matrix.rust_version }}

      - run: rustup target add x86_64-linux-android

      - name: Check documentation
        run: cargo doc --no-deps --document-private-items

      - name: Run tests
        run: cargo test --verbose

      - name: Run tests with std
        run: cargo test --verbose --features std

      - name: Run tests on Android
        run: cargo test --verbose --target x86_64-linux-android

      - name: Run tests on Android with std
        run: cargo test --verbose --target x86_64-linux-android --features std
